<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= product ? 'Оновити продукт' : 'Додати продукт' %></title>
</head>
<body>
  <a href="/">На головну</a>
    <h1><%= product ? 'Оновити продукт' : 'Додати продукт' %></h1>

  <form action="/products/add/<%= product ? product.id : ''%>" method="POST">
    <label for="name">Назва товару:</label>
    <input type="text" name="name" value="<%= product?.name %>" required>
    <br>
    <label for="price">Ціна:</label>
    <input type="number" name="price" value="<%= product?.price %>" required>
    <br>
    <label for="description">Опис:</label>
    <textarea style="height: 100px" id="description" name="description" required><%= product?.description %></textarea>
    <br>
    <button type="submit"><%= product ? 'Оновити' : 'Додати' %></button>
  </form>
  <a href="/products">Назад до списку товарів</a>
</body>
</html>
